dest/index.html
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/js/assets/logger.js"></script>
    <script src="/js/assets/jscolor.min.js"></script>
    <style>
      body {
        background: #cccccc;
      }
      
      .site_content {
        margin: 0 20px;
      }
      
      @media (min-width: 912px) {
        .site_content {
          /*max-width:872px;*/
          /*margin:0 auto;*/
        }
      }
      
      
    </style>
    <!--script(src=config.path.js + 'ott-libs.js')-->
    <!--link(rel="stylesheet", href=config.path.css + 'index.css?_=' + Date.now())-->
    <!--link(rel="stylesheet", href=config.path.css + 'assets/mocha.css')-->
  </head>
  <body>
    <div class="site_content">
      <div id="ott_widget">
        <div class="ottbp-container">
          <!--#ott_widget_container-->
          <script src="/js/bestPrice-widget.js"></script>
          <script src="/js/ott-widget.js"></script>
        </div>
      </div>
      <div id="tests" style="margin:0 0 100px 0;">
        <h1>Тесты</h1>
        <h2>Тема</h2>
        <table>
          <tr>
            <td>Ширина</td>
            <td>
              <label>
                <input class="test-theme-fixed" type="checkbox" value="1"><span>Фиксированная:</span>
              </label>
              <input class="test-theme-width" type="number" disabled value="750">
            </td>
          </tr>
          <tr>
            <td>Фон</td>
            <td>
              <input class="jscolor test-theme-color" value="878D96" name="WidgetBG">
              <input class="jscolor test-theme-color" value="444444" name="WidgetTX">
            </td>
          </tr>
          <tr>
            <td>Кнопки</td>
            <td>
              <input class="jscolor test-theme-color" value="FFD41E" name="WidgetBtn">
              <input class="jscolor test-theme-color" value="616161" name="WidgetBtnTX">
            </td>
          </tr>
          <tr>
            <td> Градиент</td>
            <td>
              <input class="jscolor test-theme-color" value="a5e3af" name="WidgetPriceGradient-low">
              <input class="jscolor test-theme-color" value="EFF9E8" name="WidgetPriceGradient-middle">
              <input class="jscolor test-theme-color" value="ffc2a3" name="WidgetPriceGradient-high">
            </td>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>

src/pug/index.pug
mixin links(hrefs)
  each href, index in hrefs
    +link(href)

mixin link(href)
  link(rel="stylesheet", href=href)


doctype html
html

  head
    meta(http-equiv="X-UA-Compatible" content="IE=Edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    script(src=config.path.js + "assets/logger.js")
    script(src=config.path.js + "assets/jscolor.min.js")


    style.
      body {
        background: #cccccc;
      }

      .site_content {
        margin: 0 20px;
      }

      @media (min-width: 912px) {
        .site_content {
          /*max-width:872px;*/
          /*margin:0 auto;*/
        }
      }


    //script(src=config.path.js + 'ott-libs.js')
    //link(rel="stylesheet", href=config.path.css + 'index.css?_=' + Date.now())
    //link(rel="stylesheet", href=config.path.css + 'assets/mocha.css')

    //-link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mocha/2.1.0/mocha.css")
    //-script(src="https://cdnjs.cloudflare.com/ajax/libs/mocha/2.1.0/mocha.js")

    //-script.
      mocha.setup('bdd');

    //-script(src="https://cdnjs.cloudflare.com/ajax/libs/chai/2.0.0/chai.js")
    //-script.
      var assert = chai.assert;
    //-+links(['http://www.neuticles.com/includes/style.css','http://volgo-mame.ru/.s/src/ulightbox/ulightbox.css','http://volgo-mame.ucoz.ru/_st/my.css','http://www.volgo-mama.ru/js/mBanner.css','http://volgo-mame.ru/.s/src/base.css','http://volgo-mame.ru/.s/src/layer1.css'])
  body
    .site_content



      #ott_widget
        .ottbp-container
          //#ott_widget_container
          script(src=config.path.js + 'bestPrice-widget.js')
          script(src=config.path.js + 'ott-widget.js')

      #tests(style={margin : '0 0 100px 0'})
        h1 Тесты
        h2 Тема
        table
          tr
            td Ширина
            td
              label
                input(type="checkbox", value="1").test-theme-fixed
                span Фиксированная:
              input(type="number", disabled, value="750").test-theme-width
          tr
            td Фон
            td
              input(value="878D96" name="WidgetBG").jscolor.test-theme-color
              input(value="444444" name="WidgetTX").jscolor.test-theme-color
          tr
            td Кнопки
            td
              input(value="FFD41E" name="WidgetBtn").jscolor.test-theme-color
              input(value="616161" name="WidgetBtnTX").jscolor.test-theme-color
          tr
            td  Градиент
            td
              input(value="a5e3af" name="WidgetPriceGradient-low").jscolor.test-theme-color
              input(value="EFF9E8" name="WidgetPriceGradient-middle").jscolor.test-theme-color
              input(value="ffc2a3" name="WidgetPriceGradient-high").jscolor.test-theme-color
